.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-1);

  @media (--bp-medium) {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--spacing-2);
  }

  @media (--bp-large) {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--spacing-3);
  }

  @media (--bp-xlarge) {
    grid-gap: var(--spacing-4);
  }
}
