html {
  /* for rem */
  font-size: 16px;
}

body {
  font-family: var(--font-family-regular);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: var(--font-family-black);
  font-weight: var(--font-weight-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-size: var(--font-size-3);
  margin-top: 0;
  margin-bottom: 0.5em;
}

.heading-6 {
  font-size: var(--font-size-3);
}

.heading-5 {
  font-size: var(--font-size-4);
}

.heading-4 {
  font-size: var(--font-size-5);
}

.heading-3 {
  font-size: var(--font-size-6);
}

.heading-2 {
  font-size: var(--font-size-7);
}

.heading-1 {
  font-size: var(--font-size-8);
}

.body-1 {
  font-size: var(--font-size-1);
}
.body-2 {
  font-size: var(--font-size-2);
}
.body-3 {
  font-size: var(--font-size-3);
}
.body-4 {
  font-size: var(--font-size-4);
}
.body-5 {
  font-size: var(--font-size-5);
}

.regular {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-regular);
}

.light {
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-light);
}

.black {
  font-weight: var(--font-weight-black);
  font-family: var(--font-family-black);
}

.italic {
  font-style: italic;
}

p {
  margin-bottom: 1em;
}
